body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: salmon;
    font-family: Courier, monospace;
}

.container{
    background: rgba(255, 255, 255, .3);
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 450px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.heading{
    font-size: 28px;
}

.input{
    height: 50px;
    width: 75%;
    padding: 0 40px;
    background: rgba(255, 255, 255, .6);
    border-color: rgba(0, 0, 0, .4);
    font-size: 16px;
    font-weight: 400;
    font-family: monospace;
    border-radius: 5px;
}

.meaning-container{
    display: none;
}